<p>
  <input type="button" class="update" value="更新">
  <input type="button" class="status" value="查看状态">
  <input type="button" class="restart" value="重启">
</p>
<ul class="info">
</ul>
{{define "footjs"}}
<script type="text/javascript">
$(function(){
    $('.status').each(function(){
        dopost($(this),'/status');
    });
    $('.update').click(function(){
        dopost($(this),'/update');
    });
    $('.status').click(function(){
      dopost($(this),'/status')
    });
    function dopost(btn,url){
        $.post(url,function(res){
          var info=btn.parent().siblings('.info');
          info.empty();
          if(res){
              for(var i=0;i<res.length;i++){
                  info.append('<li>'+res[i]+'</li>');
              }
          }
        }).error(function(){alert('发生错误')});
    }
    $('.restart').click(function(){
      var $this=$(this);
      $this.prop('disabled',true);
      $this.val('正在重启...');
      $.post('/restart',function(){
        $this.prop('disabled',false).val('重启');
        alert('重启成功');
      }).error(function(){alert('重启发生错误');})
    });
});
</script>
{{end}}
